version: '3.8'

services:
  ai-service:
    build: .
    container_name: flight-on-time-ai
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models
    environment:
      - PYTHONUNBUFFERED=1
    restart: always
